<% @properties.each do |property| %>

   <div class="col-3">
    <%= link_to property_thumbnail(property), property_path(property) %>
     <h3><%= link_to property.name, property_path(property) %></h3>
     <%= property.address %>
   </div>

<% end %>